.action {
    &--search {
        @include button($red, $white);
    }
    &--create {
        @include button($gray, $white);
        padding: 3px;
    }
}

.create {
    &__link {
        text-align: center;
        padding: 12px 0;
        display: block;
    }
    form {
        border-top: 4px solid $white;
        max-width: $container-width;
        width: 100%;
        margin: 0 auto 0;
        padding: 30px 20px;
        text-align: left;  
    }
    label {
        font-size: 12px;
        display: block;
        margin-bottom: 5px;
    }
    &__link {
        color: $white;
        text-align: center;
        display: block;
    }
    &__name {
        border: none;
        background-color: transparent;
        border-bottom: 2px solid $white;
        color: $white;
        font-size: 18px;
        width: 50%;
        &:focus {
            outline: none;
        }
    }
    &__submit {
        background-color: $white;
        border: none;
        color: $gray;
        padding: 12px 20px;
        font-size: 18px;
        margin: 0 auto;
    }
}

.exported {
    border-top: 4px solid $white;
    max-width: $container-width;
    width: 100%;
    margin: 0 auto 0;
    padding: 0 20px 30px;

    &__title {
        margin-top: 0;
        font-weight: bold;
    }

    p {
        a {
            color: $white;
        }
    }

    &__button {
        background-color: $white;
        color: $gray;
        padding: 8px 20px;
        margin-top: 10px;
        display: inline-block;
    }
}
