@mixin button($bg, $color) {
    background-color: $bg;
    color: $color;

    width: 100%;
    padding: 12px;

    display: block;
    position: fixed;
    left: 0;
    bottom: -50px;

    text-align: center;
    transition: bottom .3s ease-out .6s;

    &:hover {
        cursor: pointer;
    }
    
    &.is-visible {
        bottom: 0;
    }
}
