.youtube {
    background-color: $white;
    color: $black;
    padding: 1px 0;
    &__list {
        margin: 0 auto 50px;
        padding: 0;
        max-width: $container-width;
    }
}
.song {
    list-style: none;
    margin: 0;
    padding: 20px;
    border-bottom: 4px solid $green;
    position: relative;
    @include clear;
    &__details {
        margin-left: 84px;
    }
    &__title {
        margin: 0 0 10px;
    }
    &__image {
        float: left;
        width: 64px;
        height: 64px;
    }
    &__label {
        text-transform: uppercase;
    }
    &__album {
        font-size: 12px;
        text-transform: uppercase;
        margin: 0 0 5px;
        display: inline-block;
    }
    &__artists {
        font-size: 12px;
        text-transform: uppercase;
    }
    &__delete {
        position: absolute;
        right: 0;
        top: 20px;
        padding: 1px 7px;
        background-color: #E1E1E1;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s ease;
    }
    &__youtube {
        padding: 20px 0 0;
        border-top: 4px solid $green;
        margin-top: 20px;
        display: none;
        li {
            list-style: none;
        }
        &.is-visible {
            display: block;
        }
    }
    &:hover {
        .song__delete {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
.video {
    margin: 0 0 10px;
    @include clear;
    input {
        float: left;
        margin: 13px 10px 0 0;
    }
    &__link {
        color: $gray;
        text-decoration: none;
        @include clear;
    }
    &__title {
        line-height: 38px;
    }
    &__image {
        width: 50px;
        height: auto;
        float: left;
        margin: 0 10px 0 0;
    }
}
